name: fl_clean_arch
description: Flutter Clean Architecture
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  bloc: ^8.1.0
  connectivity_plus: ^3.0.2
  dartz: ^0.10.1
  dio: ^4.0.6
  equatable: ^2.0.5
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.1
  flutter_dotenv: ^5.0.2
  flutter_localizations:
    sdk: flutter
  get_it: ^7.2.0
  injectable: ^1.5.4
  intl: ^0.17.0
  json_annotation: ^4.7.0
  shared_preferences: ^2.0.15

dev_dependencies:
  bloc_test: ^9.0.2
  build_runner: ^2.2.1
  flutter_launcher_icons: ^0.9.3
  flutter_test:
    sdk: flutter
  injectable_generator: ^1.5.4
  json_serializable: ^6.5.4
  mocktail: ^0.2.0
  very_good_analysis: ^2.4.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/
    - assets/icon/
